body{
margin:0;
font-family:Arial;
background:#0b0b0b;
color:white;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.btn{
padding:14px 40px;
background:#f4b400;
color:black;
text-decoration:none;
border-radius:40px;
font-weight:bold;
}

.section{
padding:80px 20px;
text-align:center;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}

.card{
background:#111;
padding:40px;
border-radius:12px;
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:15px;
}

.gallery img{
width:100%;
border-radius:10px;
transition:transform .3s;
}
.gallery img:hover{transform:scale(1.05);}

.animate{
opacity:0;
transform:translateY(40px);
transition:1s;
}
.animate.show{
opacity:1;
transform:none;
}

input,select,textarea{
width:90%;
padding:12px;
margin:10px 0;
}
